body,h1,h2,h3,h4,h5,h6 {font-family: "M PLUS 1p", sans-serif;}
body, html {
  height: 100%;
  color: rgb(85, 85, 85);
  line-height: 1.8;
  direction: rtl;
  scroll-behavior: smooth;   
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-attachment: scroll;
  background-image: url('img1.jpeg');
  min-height: 800px;
  filter: brightness(0.45);
  animation: slidebg 70s infinite alternate;
}

@keyframes shrink {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 110% 110%;
  }
}

@keyframes slidebg {
  0% {
    background-image: url('img1.jpeg');
  }
  25% {
    background-image: url('img4.jpeg');
  }
  50% {
    background-image: url('img6.jpeg');
  }
  75% {
    background-image: url('img8.jpeg');
  }
  100% {
    background-image: url('img5.jpeg');
  }
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("img8.jpeg");
  min-height: 300px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("img3.jpeg");
  min-height: 300px;
}

.bgimg-4 {
  background-image: url("img7.jpeg");
  min-height: 300px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1 {
    background-attachment: scroll;
    min-height: 550px;
  }

  .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
    min-height: 200px;
  }
}

a {
  transition: 0.4s;
}